
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  height: 80px;
  max-width: 500px;
  flex: 1;
}

.search-container input {
  flex: 1;
  background-color: #161a20;
  border: none;
  outline: none;
  color: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}