
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
  height: 80px;
}

.chat-contact {
  display: flex;
  flex-direction: row;
}

.chat-image {
  display: flex;
  flex-shrink: 0;
  margin-right: 20px;
}

.chat-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

h5 {
  margin: 0;
  color: white;
}

.exit-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.exit-icon > svg {
  height: 40px;
}