<div class="container">
  <div *ngIf="isChatLoaded; else noChat" class="chat-content">
    <chat-header [chat]="chatHeader()"></chat-header>
    <div class="divider">
      <h5>
        <hr>
      </h5>
    </div>
    <chat-message-list [messages]="messages" (notify)="loadMessages()"></chat-message-list>

    <chat-message-input (onValue)="sendMessage($event)" ></chat-message-input>
  </div>

  <ng-template #noChat>
    <chat-search-input (onValue)="searchContact($event)" ></chat-search-input>
    <div class="divider">
      <h5>
        <hr>
      </h5>
    </div>
    <chat-search-list [searchList]="searchChats"></chat-search-list>
  </ng-template>
</div>
